In [10]:

import pandas as pd


s = pd.Series([18,45,7,14,17], index=['a','b','c','d','e'])

print("Pandas Series:")
print(s)
print("\nAccess single value:", s['c'])

Pandas Series:
a    18
b    45
c     7
d    14
e    17
dtype: int64

Access single value: 7

In [11]:
type(s)

pandas.core.series.Series

In [12]:

data = {
    'Name': ['Amit', 'Riya', 'Karan'],
    'Age': [21, 20, 23],
    'Marks': [88, 92, 76]
}

df = pd.DataFrame(data)

print("Pandas DataFrame:")
print(df)
print("\nAccess single column (as Series):")
print(df['Marks'])

Pandas DataFrame:
    Name  Age  Marks
0   Amit   21     88
1   Riya   20     92
2  Karan   23     76

Access single column (as Series):
0    88
1    92
2    76
Name: Marks, dtype: int64

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
#for information only
pd.read_csv("C:/Users/krush/OneDrive/Desktop/Python/.venv/mobile_game_inapp_purchases.csv")

,UserID,Age,Gender,Country,Device,GameGenre,SessionCount,AverageSessionLength,SpendingSegment,InAppPurchaseAmount,FirstPurchaseDaysAfterInstall,PaymentMethod,LastPurchaseDate
0,c9889ab0-9cfc-4a75-acd9-5eab1df0015c,49.0,Male,Norway,Android,Battle Royale,9,12.83,Minnow,11.40,28.0,Apple Pay,2025-03-19
1,7c9e413c-ecca-45f2-a780-2826a07952a2,15.0,Male,Switzerland,iOS,Action RPG,11,19.39,Minnow,6.37,18.0,Debit Card,2025-06-08
2,fd61e419-1a92-4f43-a8c7-135842ad328a,23.0,Male,China,Android,Fighting,9,8.87,Minnow,15.81,30.0,Apple Pay,2025-06-02
3,bdb7f6d1-ff9a-468c-afe7-43f32a94293e,31.0,Male,Mexico,Android,Racing,12,19.56,Minnow,13.49,9.0,Debit Card,2025-04-01
4,aa7eec14-4846-47b9-b879-9c98038cda04,37.0,Female,India,Android,Battle Royale,10,15.23,Minnow,10.86,15.0,Paypal,2025-05-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3019,29f9fea9-591d-4e9f-a662-958655d3eb4a,19.0,Female,Iran,Android,Fighting,7,34.81,Minnow,12.48,16.0,Google Pay,2025-05-28
3020,c906eb00-fb33-4bf2-97a4-311634cd0d7a,48.0,Male,Switzerland,iOS,Adventure,9,19.45,Minnow,14.77,14.0,Carrier Billing,2025-07-25
3021,26e17717-ebec-42a9-aae2-2eff66888119,44.0,Male,France,Android,Card,15,20.54,Minnow,16.69,24.0,Gift Card,2025-01-25
3022,4d6e2bfb-cb11-411a-942c-4fb7a4832088,45.0,Male,Sweden,iOS,Fighting,8,14.48,Minnow,17.29,15.0,Paypal,2025-05-07
3023,37935b2e-9b5d-4a30-bf0f-751d105e31e3,22.0,Male,Egypt,Android,Adventure,10,28.54,Minnow,4.11,30.0,Carrier Billing,2025-07-06

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Marks   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [16]:
df.dtypes

Name     object
Age       int64
Marks     int64
dtype: object

In [17]:
df.dtypes

Name     object
Age       int64
Marks     int64
dtype: object

In [18]:
df = pd.read_csv("mobile_game_inapp_purchases.csv")

In [19]:
ages = df["Age"]
print(ages.head())

0    49.0
1    15.0
2    23.0
3    31.0
4    37.0
Name: Age, dtype: float64

In [20]:
print("Shape:", ages.shape)           # number of elements
print("Data type:", ages.dtype)       # type of values
print("Unique values:", ages.unique())# unique values
print("First 5 values:\n", ages.head())
print("Last 5 values:\n", ages.tail())

Shape: (3024,)
Data type: float64
Unique values: [49. 15. 23. 31. 37. 38. 20. 34. 46. 29. 30. 24. 21. 35. 45. 14. 47. 54.
 52. 25. 51. 18. nan 32. 43. 17. 19. 16. 36. 48. 50. 33. 44. 40. 26. 13.
 42. 28. 39. 22. 53. 27. 41.]
First 5 values:
 0    49.0
1    15.0
2    23.0
3    31.0
4    37.0
Name: Age, dtype: float64
Last 5 values:
 3019    19.0
3020    48.0
3021    44.0
3022    45.0
3023    22.0
Name: Age, dtype: float64

In [21]:
print("Mean age:", ages.mean())
print("Max age:", ages.max())
print("Min age:", ages.min())

Mean age: 33.53373819163293
Max age: 54.0
Min age: 13.0

In [22]:
purchase_amounts = df["InAppPurchaseAmount"]

In [23]:
print("Average purchase:", purchase_amounts.mean())
print("Non-null purchases:", purchase_amounts.count())

Average purchase: 102.58286357340722
Non-null purchases: 2888

In [24]:
under_20 = ages[ages < 20]
print("Users under 20:\n", under_20.head())

Users under 20:
 1     15.0
18    14.0
21    14.0
28    18.0
39    17.0
Name: Age, dtype: float64

In [25]:
print("Head:\n", df.head(), "\n")

Head:
                                  UserID   Age  Gender      Country   Device  \
0  c9889ab0-9cfc-4a75-acd9-5eab1df0015c  49.0    Male       Norway  Android
1  7c9e413c-ecca-45f2-a780-2826a07952a2  15.0    Male  Switzerland      iOS
2  fd61e419-1a92-4f43-a8c7-135842ad328a  23.0    Male        China  Android
3  bdb7f6d1-ff9a-468c-afe7-43f32a94293e  31.0    Male       Mexico  Android
4  aa7eec14-4846-47b9-b879-9c98038cda04  37.0  Female        India  Android

       GameGenre  SessionCount  AverageSessionLength SpendingSegment  \
0  Battle Royale             9                 12.83          Minnow
1     Action RPG            11                 19.39          Minnow
2       Fighting             9                  8.87          Minnow
3         Racing            12                 19.56          Minnow
4  Battle Royale            10                 15.23          Minnow

   InAppPurchaseAmount  FirstPurchaseDaysAfterInstall PaymentMethod  \
0                11.40                           28.0     Apple Pay
1                 6.37                           18.0    Debit Card
2                15.81                           30.0     Apple Pay
3                13.49                            9.0    Debit Card
4                10.86                           15.0        Paypal

  LastPurchaseDate
0       2025-03-19
1       2025-06-08
2       2025-06-02
3       2025-04-01
4       2025-05-05

In [26]:
print("Tail:\n", df.tail(), "\n")

Tail:
                                     UserID   Age  Gender      Country  \
3019  29f9fea9-591d-4e9f-a662-958655d3eb4a  19.0  Female         Iran
3020  c906eb00-fb33-4bf2-97a4-311634cd0d7a  48.0    Male  Switzerland
3021  26e17717-ebec-42a9-aae2-2eff66888119  44.0    Male       France
3022  4d6e2bfb-cb11-411a-942c-4fb7a4832088  45.0    Male       Sweden
3023  37935b2e-9b5d-4a30-bf0f-751d105e31e3  22.0    Male        Egypt

       Device  GameGenre  SessionCount  AverageSessionLength SpendingSegment  \
3019  Android   Fighting             7                 34.81          Minnow
3020      iOS  Adventure             9                 19.45          Minnow
3021  Android       Card            15                 20.54          Minnow
3022      iOS   Fighting             8                 14.48          Minnow
3023  Android  Adventure            10                 28.54          Minnow

      InAppPurchaseAmount  FirstPurchaseDaysAfterInstall    PaymentMethod  \
3019                12.48                           16.0       Google Pay
3020                14.77                           14.0  Carrier Billing
3021                16.69                           24.0        Gift Card
3022                17.29                           15.0           Paypal
3023                 4.11                           30.0  Carrier Billing

     LastPurchaseDate
3019       2025-05-28
3020       2025-07-25
3021       2025-01-25
3022       2025-05-07
3023       2025-07-06

In [27]:
print("Shape:", df.shape, "\n")

Shape: (3024, 13)

In [28]:
print("Columns:", df.columns, "\n")

Columns: Index(['UserID', 'Age', 'Gender', 'Country', 'Device', 'GameGenre',
       'SessionCount', 'AverageSessionLength', 'SpendingSegment',
       'InAppPurchaseAmount', 'FirstPurchaseDaysAfterInstall', 'PaymentMethod',
       'LastPurchaseDate'],
      dtype='object')

In [29]:
print("Data types:\n", df.dtypes, "\n")

Data types:
 UserID                            object
Age                              float64
Gender                            object
Country                           object
Device                            object
GameGenre                         object
SessionCount                       int64
AverageSessionLength             float64
SpendingSegment                   object
InAppPurchaseAmount              float64
FirstPurchaseDaysAfterInstall    float64
PaymentMethod                     object
LastPurchaseDate                  object
dtype: object

In [30]:
print("Describe:\n", df.describe(), "\n")

Describe:
                Age  SessionCount  AverageSessionLength  InAppPurchaseAmount  \
count  2964.000000   3024.000000           3024.000000          2888.000000
mean     33.533738     10.074735             20.073978           102.582864
std      11.992258      3.115863              8.585208           454.339708
min      13.000000      1.000000              5.010000             0.000000
25%      23.000000      8.000000             12.680000             5.987500
50%      33.000000     10.000000             20.315000            11.975000
75%      44.000000     12.000000             27.420000            17.762500
max      54.000000     22.000000             34.990000          4964.450000

       FirstPurchaseDaysAfterInstall
count                    2888.000000
mean                       15.384003
std                         8.946191
min                         0.000000
25%                         8.000000
50%                        16.000000
75%                        23.000000
max                        30.000000

In [31]:
print("Info:")
print(df.info(), "\n")

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3024 entries, 0 to 3023
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   UserID                         3024 non-null   object
 1   Age                            2964 non-null   float64
 2   Gender                         2964 non-null   object
 3   Country                        2964 non-null   object
 4   Device                         2964 non-null   object
 5   GameGenre                      2964 non-null   object
 6   SessionCount                   3024 non-null   int64
 7   AverageSessionLength           3024 non-null   float64
 8   SpendingSegment                3024 non-null   object
 9   InAppPurchaseAmount            2888 non-null   float64
 10  FirstPurchaseDaysAfterInstall  2888 non-null   float64
 11  PaymentMethod                  2888 non-null   object
 12  LastPurchaseDate               2888 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 307.3+ KB
None

In [32]:
ages = df["Age"]
print("Age column as Series:\n", ages.head(), "\n")

Age column as Series:
 0    49.0
1    15.0
2    23.0
3    31.0
4    37.0
Name: Age, dtype: float64

In [33]:
ages = df["Age"]
print("Age column as Series:\n", ages.head(), "\n")

Age column as Series:
 0    49.0
1    15.0
2    23.0
3    31.0
4    37.0
Name: Age, dtype: float64

In [35]:
print("Name + Country columns:\n", df[["Country", "Device"]].head(), "\n")

Name + Country columns:
        Country   Device
0       Norway  Android
1  Switzerland      iOS
2        China  Android
3       Mexico  Android
4        India  Android

In [36]:
print("Users under 20:\n", df[df["Age"] < 20].head(), "\n")

Users under 20:
                                   UserID   Age  Gender       Country   Device  \
1   7c9e413c-ecca-45f2-a780-2826a07952a2  15.0    Male   Switzerland      iOS
18  784fa153-301d-4286-adf5-3459e04e8a97  14.0  Female     Sri Lanka      iOS
21  d17030c2-e861-4028-aa03-23b18d239a40  14.0    Male         Japan      iOS
28  03e7dc1d-dfe5-4677-aff4-239b6a60ad7c  18.0    Male   Switzerland  Android
39  609ec77e-7c64-4486-a77d-da39f5e21576  17.0    Male  Saudi Arabia  Android

     GameGenre  SessionCount  AverageSessionLength SpendingSegment  \
1   Action RPG            11                 19.39          Minnow
18      Racing            10                 33.44           Whale
21      Puzzle             9                 15.49           Whale
28      Casual             5                 21.01         Dolphin
39     Sandbox             8                 29.44         Dolphin

    InAppPurchaseAmount  FirstPurchaseDaysAfterInstall    PaymentMethod  \
1                  6.37                           18.0       Debit Card
18              3454.51                           22.0  Carrier Billing
21              4302.61                           30.0      Credit Card
28               356.98                           18.0       Google Pay
39               276.54                           11.0      Credit Card

   LastPurchaseDate
1        2025-06-08
18       2025-01-01
21       2025-04-08
28       2025-08-02
39       2025-01-28

In [37]:
print("Top spenders:\n", df.sort_values("InAppPurchaseAmount", ascending=False).head(), "\n")

Top spenders:
                                     UserID   Age Gender      Country   Device  \
59    b5c61dc0-138d-4d49-ae4a-c4ca75787cb2  49.0   Male  Afghanistan  Android
2028  9ce85d56-3f8f-431a-b0bf-eec096811b39  15.0   Male         Iran      iOS
760   a8881761-c5ca-4ded-ad96-81e76b2f04e1  37.0   Male      Denmark  Android
2563  3adbf004-12bb-4abc-985a-ec2c3e399704  32.0   Male       Russia      iOS
2304  a9f827e9-f212-47ab-8c8a-81e6b6d7145d  47.0   Male  Afghanistan      iOS

          GameGenre  SessionCount  AverageSessionLength SpendingSegment  \
59         Strategy             9                 21.42           Whale
2028  Battle Royale             8                 14.91           Whale
760       Adventure            10                 24.31           Whale
2563         MMORPG            14                 27.42           Whale
2304     Simulation            12                 28.80           Whale

      InAppPurchaseAmount  FirstPurchaseDaysAfterInstall PaymentMethod  \
59                4964.45                           11.0   Credit Card
2028              4931.98                           22.0        Paypal
760               4930.28                           11.0    Debit Card
2563              4893.16                            4.0    Debit Card
2304              4770.77                            2.0        Paypal

     LastPurchaseDate
59         2025-01-28
2028       2025-07-15
760        2025-04-15
2563       2025-04-13
2304       2025-03-07

In [34]:
import pandas as pd

# Create a Series
s1 = pd.Series([10, 20, 30, 40, 50])

# Now you can run these without error
print("Mean of s1:", s1.mean())
print("Max of s1:", s1.max())
print("Min of s1:", s1.min())

Mean of s1: 30.0
Max of s1: 50
Min of s1: 10